@model ToDoListApp.Models.ToDoListViewModel
@{
    ViewData["Title"] = "Index";
}

<style>
    .card-body {
        width: 300;
        height: 300;
    }
</style>

<div class="container p-3">
    <h1 class="app-title" id="header">To Do App</h1>
    <div class="card">
        <div class="card-header">
            New Task
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Create","Home"))
            {

                <div class="input-group mb-3">
                    @Html.TextBoxFor(m => m.ToDoTask.Content, new { @class = "form-control" })
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-primary" value="EKLE" id="btnSubmit" />
                    </div>
                </div>

            }
        </div>
    </div>
    <div class="card mt-3">
        <ul id="task-list" class="list-group">
            @foreach (var item in Model.ToDoTasks)
            {
                if (item.IsDone == true)
                {
                    <li class="list-group-item list-group-item-secondary">
                        <div class="alert alert-success" role="alert">
                            <span class="badge rounded-pill bg-light text-dark">@item.Content</span>
                            <span class="badge rounded-pill bg-primary">Bitiş Tarihi:<span class="badge rounded-pill bg-secondary">@item.DueDate</span> </span>
                            <a href='@Url.Action("Delete",new { id = item.Id })' class="delete-item float-right">
                                <i class="fas fa-times"></i>
                            </a>
                            <a href="/Home/Edit/@item.Id" class="delete-item float-right">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                    </li>
                }
                else
                {
                    <li class="list-group-item list-group-item-secondary">
                        <div class="alert alert-primary" role="alert">
                            <span class="badge rounded-pill bg-light text-dark">@item.Content</span> 
                            <span class="badge rounded-pill bg-primary">Bitiş Tarihi:<span class="badge rounded-pill bg-secondary">@item.DueDate.</span> </span>
                            <a href='@Url.Action("Delete",new { id = item.Id })' class="delete-item float-right">
                                <i class="fas fa-times"></i>
                            </a>
                            <a href="/Home/Edit/@item.Id" class="delete-item float-right">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                    </li>
                }

                //'@Url.Action("Edit",new { id = item.Id })'

            }
        </ul>

    </div>
</div>



